
img.site-logo {
    border-radius: 10px;
    max-width: 400px;
    align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
}

.case-form h5 {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.page-footer {
    margin-top: 5rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
