<!-- generate for a form to handle the case request model -->

{% extends "base.html" %}


{% block content %}
<br>
<div class="card p-3 bg-light case-form">
    <h2>List your case</h2>
    <form action="case-request" method="post">
    <h5>Case Name</h5>
    <input type="text" name="casename" placeholder="Procedure name"></input>
    <h5>Patient's NHS no </h5>
    <input name="nhsno" value=123456789 placeholder="nhs no" type="number"></input>
    <h5>Procedure Date</h5>
    <input name="date" value="{{ today }}" placeholder="date" type="date"></input>
    <h5>Estimate length</h5>
    <input name="length" placeholder="Length (minutes)" type="number"></input>
    <input type="submit"></input>
    </form>
</div>
{% endblock %}
```
